<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <title>Proyecto BACKEND </title>
      <style> .nombre-usuario { color: {{color}};} </style>
</head>
<body style="background-color:rgb(228, 242, 255);">
    <h1 style="font-family:verdana;" >Bienvenidos a mi proyecto Backend</h1>
    {{{body}}}
  

</body>
</html>