
<h4 style="font-family:verdana;" id="nombreUsuario"></h4>

<form id="mensajesFormulario">
<input placeholder="Escribe aqui tu mensaje..." type="text" name="mensaje" id="mensaje">
<input type="submit" value="ENVIAR">
</form>


<p style="font-family:verdana;" id="chat"></p>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>