<h1>Logeate:</h1>

<form action="/login" method="post">
    Nombre:
    <input type="text" name="nombre" id="nombre" />
    Email:
    <input type="text" name="email" id="email" />

    <input type="submit" value="Agregar" />

</form>

<br>

<form style="font-family:sans-serif " action='/views/' method='get'>Volver al Inicio:
    <button type="submit" formmethod="get"> Volver</button>
</form>